*{
    margin: 0;
    padding: 0;
  }
  body{
    /*background-color: #495057;*/
    background-color: #6c757d;
  }
.contenedor{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
input[type=email], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

p{
    text-align: center;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}
h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
span{
    text-align: center;
}
.divGmail{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(223, 83, 83);
    background-color: rgb(223, 83, 83);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    display:block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1d3557;
    border: none;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  button:hover {background-color: #457b9d}
  /* RESPONSIVE */
@media(max-width:600px){
  .contenedor{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=email], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
}