body{
    padding: 5px;
}
p{
    font-family: 'Handlee', cursive;
    font-size: x-large;
}
/* ##############
    Menu
################ */

.divMenu ul{
    list-style-type: none;
    background-color: pink;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    padding: 0px;
}
.divMenu li{
    float: left;
}
.divMenu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Pangolin', cursive;
}
.divMenu li a:hover{
    background-color: #f28482;
}

/* #################
    Informacion de la pagina 
#####################*/
.center{
    text-align: center;
}
.divHeader{
    text-align: center;
    border: 10px dashed #06d6a0;
    border-radius: 5px;
    margin: 10px;
}
.divHeader h1{
    color: #fec5bb;
    font-family: 'Kalam', cursive;
    font-size:xx-large;
    font-weight: 900;
    text-shadow: 2px 2px 4px #f8edeb;
}
.divTitulo{
    border-top: 10px solid #06d6a0;
    border-bottom: 10px solid #06d6a0;
    text-align: center;
    font-family: 'Skranji', cursive;
}
.divImg{
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.divImg img{
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.divConten{
    color:black ;
    font-family: 'Handlee', cursive;
    font-size: x-large;
    text-align: left;
    font-size:14pt;
    text-align: justify;
    overflow: hidden;
}
.sectionT{
    background: #fadde1;
    overflow: hidden;
}

.divConten h2{
    color:black ;
    font-family:Please write me a song;
    text-align: center;
    font-size:30pt;
}
.divTablero{
    width:100%;
    height: auto;
    font-family: 'Handlee', cursive;
    font-size: x-large;
}
.divInfo1{
    float: left;
    width: 45%;
    height: auto;
    padding: 5px;
}
.divInfo2{
    float: left;
    width: 45%;
    height: auto;
    padding: 5px;
}
.divInfo3{
    float: left;
    width: 45%;
    height: auto;
    padding: 5px;
}
.divInfo4{
    float: left;
    width: 45%;
    height: auto;
    padding: 5px;
}
/* ############
    Musica
################ */
#sectionMusica{
    border:10px solid #6fffe9;
    font-family: 'Sniglet', cursive;
    font-size: 20px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    background-image:url("../imagenes/BTSlogo.png");
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-position: top center;
    padding-left: 10px;
    font-weight: bold;
}
#artista{
    float: left;
    width: 45%;
    height: auto;
    padding: 5px;
}
#musica{
    float: right;
    width: 45%;
    height: auto;
    padding: 5px;
}

/* RESPONSIVE */
@media(max-width:600px){
    .divInfo1{
        width: 100%;
        height: auto;
    }
    .divInfo2{
        width: 100%;
        height: auto;
    }
    .divInfo2{
        width: 100%;
        height: auto;
    }
    .divInfo4{
        width: 100%;
        height: auto;
    }
    #artista{
        width: 100%;
        height: auto;
    }
    #musica{
        width: 100%;
        height: auto;
    }
    #sectionMusica{
        border:10px solid #6fffe9;
        font-family: 'Sniglet', cursive;
        font-size: 20px;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
        background-image:url("../imagenes/BTSlogo2.png");
        background-repeat: no-repeat;
        background-attachment:inherit;
        background-position: top center;
        padding-left: 10px;
    }
    .divMenu ul{
        list-style-type: none;
        background-color: pink;
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;
        padding: 0px;
    }
    .divMenu li{
        float:none;
    }
}
/*###############
    Ver comentarios
#################*/
section .viewcomment{
    width: 90%;
    height: 300px;
    border: 1px solid black;
    overflow: scroll;
    padding-left: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-family: 'Covered By Your Grace', cursive;
    font-size: x-large;
}
section .viewcomment input{
    display: block;
    padding: 5px;
    margin: 5px;
}
section .viewcomment textarea{
    width: 80%;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    border: none;
    background-color: #d0f4de;
    border-radius: 5px;
    padding: 10px;
}
section .viewcomment span{
    font-family: initial;
    color: red;
}
section .viewcomment img{
    width: 50px;
    border-radius: 100px;
}
/*###############
    Publicar comentarios
#################*/
section .comentarios{
    border-radius: 5px;
    padding-left: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
section .comentarios input{
    display:block;
    margin-top: 10px;
}
section .comentarios textarea{
    width: 100%;
    height: 100px;
}
section .comentarios input[type="submit"]{
    width: 200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: #70d6ff;
}
section .comentarios input[type="submit"]:hover{
    background-color: #227c9d;
}
/*##################
    Pie de pagina
 ###################*/
footer{
    background-color: #ffb4a2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size:x-large;
    font-family: 'Kalam', cursive;
    margin-top: 20px;
}